@model GameOfThrones.Models.BookCharacter

@{
    ViewData["Title"] = "Character Details";
}

<h1>Character Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.culture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.culture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.born)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.born)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.died)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.died)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.titles)
        </dt>
        <dd class="col-sm-10">
            @{

                @foreach (string character in Model.titles)
                {
                    <p>
                        @Html.Raw(character)
                    </p>
                }

            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.father)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.father)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.mother)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.mother)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.spouse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.spouse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aliases)
        </dt>
        <dd class="col-sm-10">
            @{

                @foreach (string character in Model.aliases)
                {
                    <p>
                        @Html.Raw(character)
                    </p>
                }

            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.allegiances)
        </dt>
        <dd class="col-sm-10">
            @{

                @foreach (string character in Model.allegiances)
                {
                    <p>
                        @Html.Raw(character)
                    </p>
                }

            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.books)
        </dt>
        <dd class="col-sm-10">
            @{

                @foreach (string character in Model.books)
                {
                    <p>
                        @Html.Raw(character)
                    </p>
                }

            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.povBooks)
        </dt>
        <dd class="col-sm-10">
            @{

                @foreach (string character in Model.povBooks)
                {
                    <p>
                        @Html.Raw(character)
                    </p>
                }

            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tvSeries)
        </dt>
        <dd class="col-sm-10">
            @{

                @foreach (string character in Model.tvSeries)
                {
                    <p>
                        @Html.Raw(character)
                    </p>
                }

            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.playedBy)
        </dt>
        <dd class="col-sm-10">
            @{

                @foreach (string character in Model.playedBy)
                {
                    <p>
                        @Html.Raw(character)
                    </p>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
