@model IEnumerable<GameOfThrones.Models.BookCharacter>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.culture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.born)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.died)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.father)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mother)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spouse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.culture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.born)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.died)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.father)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mother)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spouse)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
